<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713056945049-sqcrkcoc2c8of6ro0q9i68kcpjqatcj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713056945049-sqcrkcoc2c8of6ro0q9i68kcpjqatcj4</string>
	<key>API_KEY</key>
	<string>AIzaSyCn5AVrtYwMLpK9tx1bcEhDbTHTkBtqwSc</string>
	<key>GCM_SENDER_ID</key>
	<string>713056945049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iostrio.happy-tracker</string>
	<key>PROJECT_ID</key>
	<string>happy-tracker-7e47a</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-tracker-7e47a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713056945049:ios:1900fb2a8a0d66dfa10908</string>
</dict>
</plist>